body {
    font-family: "Poppins", sans-serif; /* A popular modern font */
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: #e7f1ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    font-weight: bold;
    color: #666;
    font-size: 16px;
  }
  
  input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    padding: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    font-size: 18px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 15px;
    color: #777;
    font-size: 14px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-spacing: 0;
  }
  
  th, td {
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #d1ecf1;
  }
  
  progress {
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, #f2f2f2, #e0e0e0);
  }
  
  progress::-webkit-progress-bar {
    background: linear-gradient(to right, #007bff, #0056b3);
  }